<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('header'); -%>
  <body>
    <%- include('nav'); -%>
    <div class="contact">
        <h4>
          Please give me your name, email and leave a comment down below. I will reply to you as soon as
          possible.
        </h4>
        <form action = "/contact" method = "POST">
          <div class="form-group">
            <label id="nid" for="exampleInputEmail1">Full Name</label>
            <input
              type="name"
              name="name"
              class="form-control"
              id="name"
              aria-describedby="emailHelp"
              placeholder="ex. John Doe"
              required
              
            />
          </div>
          <div class="form-group">
            <label id="eid" for="exampleInputEmail1">Email address</label>
            <input
              type="email"
              name="email"
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
              placeholder="ex. jsmith45@yahoo.com"
              required
              
            />
          </div>
          <div class="form-group">
              <label id="cid" for="exampleFormControlTextarea1">Comment</label>
              <textarea class="form-control" name="comment" rows="3" placeholder="comment"
              required></textarea>  
          </div>
          <form>
            <div class="form-group">
              <label style="padding: 20px 0 10px 0; font-size: 14px;" for="exampleFormControlFile1">Upload Your Image Here:</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
          </form>
          <button style="margin: 20px 0 0 40px;" id="contact-btn" type="submit" class="btn btn-primary">
            Submit
          </button>
        </form>
        <%- include('footer'); -%>

    </div>
    

    <!-- Javascript -->
      <!-- <script>       
      </script> -->
  </body>
</html>