<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('header'); -%>
  </head>
  <body>
    <%- include('nav'); -%>
    <div class="guestbook">
      <h3 style="text-align-last: center;"><%= familyMember.name %></h3>
      Age: <%= familyMember.age %><
    </div>
  </body>
</html>
