<footer>
  <h3></h3>
  <table id="tablefooter">
    <tr id="footertr">
      <th id="footerth">Connect With Me</th>
      <th id="footerth">For more info:</th>
    </tr>
    <tr>
      <td>
        <ul>
          <li id="footerli">Facebook</li>
          <li id="footerli">Instagram</li>
          <li id="footerli">Twitter</li>
        </ul>
      </td>
      <td>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum,
          obcaecati non? Unde commodi doloribus aliquid harum earum magnam
          molestiae omnis
        </p>
        <p>
          recusandae voluptas provident voluptatibus adipisci asperiores quos,
          natus veritatis assumenda.
        </p>
      </td>
    </tr>
  </table>
</footer>
