<html>
  <head>
    <%- include('header'); -%>
  </head>
  <body>
    <%- include('nav'); -%>
    <div class="home">
      <div id="p1"></div>
      <div id="p2">
        <p id="ptext">Welcome!</p>
        <h3>About Me:</h3>
        <p>
          Hi, my name is Kong. I am 26 years old and from Raleigh, North
          Carolina.
        </p>
        <p>
          I am currently in a 6-weeks Hire-Train-Deploy program with Collabera
          Inc. I took interest in coding about a year ago
        </p>
        <p>and now my aspiration is to become a developer.</p>
      </div>
    </div>
    <%- include('footer'); -%>

    <!-- Bootstrap JS CDN -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
