<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('header'); -%>
    <title>Success!!</title>
  </head>
  <body style="text-align: center;">
    <%- include('nav'); -%>
    <p style="margin-top: 200px; font-size: 24px;">
      Thank You! Your form has been submitted successfully!
    </p>
  </body>
</html>
