/* this.black color = rgb(36, 36, 36) */

html {
  margin: 0;
}
body {
  background: rgb(36, 36, 36);
  color: rgb(227, 227, 227);
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

#p1 {
  height: 500px;
  background-size: cover;
  background: url("https://res.klook.com/image/upload/fl_lossy.progressive/q_auto/f_auto/c_fill/blogen/2018/08/image5-3.jpg");
}
#p2 {
  height: 300px;
}
h1 {
  margin: 50px 20px;
}
h3,
h4 {
  margin: 40px 100px;
}
nav {
  height: 12% !important;
}
.bg-light {
  background: rgb(36, 36, 36) !important;
  width: 100%;
}
a {
  color: rgb(255, 255, 255) !important;
}
.hobbies {
  height: 500px;
  background: white;
  padding-top: 40px;
  color: black;
}
#ap1 {
  min-height: 400px;
  background: black;
  padding-top: 10px;
}
#music {
  background: rgb(34, 34, 34);
  color: white;
  min-height: 500px;
}
li {
  list-style: none;
  margin: 10px;
  font-size: 16px;
}
.nav-item:hover {
  font-size: 16px;
  letter-spacing: 2px;
}
form {
  margin: 0px 100px 0px 40px;
}
input#name {
  width: 600px;
}
input#email {
  width: 600px;
}
textarea {
  height: 200px !important;
  width: 600px !important;
}
.home {
  text-align: center;
}
.aboutme {
  text-align: center;
  /* position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  font-weight: 100;
}
#ptext {
  position: absolute;
  bottom: 40%;
  left: 35%;
  font-size: 80px;
  letter-spacing: 2px;
  font-style: italic;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-shadow: 0px 4px 6px black, 2px 6px 6px rgba(43, 43, 43, 0.502);
}

.family {
  background: rgb(19, 19, 19);
  height: 100%;
  padding: 10px 0;
}
.contact {
  background: rgb(19, 19, 19);
  padding: 20px 0;
  font-weight: 200;
  min-height: 400px;
}
#contact-btn {
  background: rgb(74, 74, 74);
  border: none;
  height: 30px;
  font-size: 14px;
}
.guestbook {
  background: rgb(19, 19, 19);
  height: 100%;
  padding: 10px 0 20px 20px;
}

th {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
}
td {
  font-size: 14px;
  font-weight: 200;
  padding: 5px 10px;
}
